{% extends "layout.html" %}
{% block content %}
    <h1>Pet Database</h1>




    <table class="table table-bordered table-warning" style="width:0%">

      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Type</th>
          <th>Age</th>
        </tr>
      </thead>
      <tbody>
      {% for pet in pets %}
      <tr>
        <td>{{ pet.id }}</td>
        <td>{{ pet.petName }}</td>
        <td>{{ pet.petType }}</td>
        <td>{{ pet.petAge }}</td>
      </tr>
      {% endfor %}
      </tbody>

    </table>

{% endblock %}
